{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "589d917791c991e3f4ebba4d417958b5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-04-02T19:58:03.363Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "wu5W/yEIsmmHYrlf++WqgAKPByAgSfucFCrxxBifzgI="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-08-30T19:58:03.364Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-04-02T19%3A58%3A03.363Z&SellerId=x&Signature=wu5W%2FyEIsmmHYrlf%2B%2BWqgAKPByAgSfucFCrxxBifzgI%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-08-30T19%3A58%3A03.364Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>e6e7fc40-16f4-4a3c-bcab-b39380fa62dd</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "H334AAX7W664DCXNWQ4E"
            },
            {
              "name": "x-mws-request-id",
              "value": "e6e7fc40-16f4-4a3c-bcab-b39380fa62dd"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-08-30T19:58:03.569Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "FZi2EcfymVTM+uRnD4cfr+NLd/5y+syZ4otY0OQZp8ixNshMTA3yYtsF09wVKdqhneViF0Vkf4E="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 288,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
