{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "1798e9c8f9c0295a89d9f62dbdf5e3e4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-03-11T11:12:39.931Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "a267RhLCkH1z2/dzEkHUuGRYoXvObD0ARNkpXvWrBHY="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-08-08T11:12:39.931Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-03-11T11%3A12%3A39.931Z&SellerId=x&Signature=a267RhLCkH1z2%2FdzEkHUuGRYoXvObD0ARNkpXvWrBHY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-08-08T11%3A12%3A39.931Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>74743dd0-fbeb-4f20-80df-61432b0900be</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "KAH96RF7PQKFW2PHME1S"
            },
            {
              "name": "x-mws-request-id",
              "value": "74743dd0-fbeb-4f20-80df-61432b0900be"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-08-08T11:12:40.273Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "2AJhmfxfdlLV3UehcSeVvSV7slDOjf5ivdUTJr0aGrinCJnuIWrJgMZJ19PSIOEG8eppUqQ4Kf0="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 386,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
