{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d267412ab15531d9dc9a1de8881dede1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-03-11T11:11:44.176Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "0wQ4romAbXOPkpUF0BhDdNwlgJRxS1reBCVYLIgtLxI="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-08-08T11:11:44.176Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-03-11T11%3A11%3A44.176Z&SellerId=x&Signature=0wQ4romAbXOPkpUF0BhDdNwlgJRxS1reBCVYLIgtLxI%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-08-08T11%3A11%3A44.176Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>5f73215d-21ce-457b-bd77-be5a150c630a</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "AJ2QXPW10M4NX66DV202"
            },
            {
              "name": "x-mws-request-id",
              "value": "5f73215d-21ce-457b-bd77-be5a150c630a"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-08-08T11:11:44.556Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "vIrPIg2X00m64SWcZlmYRKDTOnGkCy1kz56WHhWpG5mfZ6gruC0hdKgWnANbNGjOGIgALOY+Dus="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 473,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
